<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN'
'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en'>
	<head>
		<meta http-equiv='Content-type' content='text/html; charset=UTF-8' />
		<meta http-equiv='Content-Language' content='en-us' />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title> {{ title }} </title>
		<meta name='keywords' content='{{ meta_keywords }}' />
		<meta name='description' content='{{ meta_description }}' />
		<meta name='copyright' content='{{ meta_copywrite }}' />
		{% for style in styles %}
			<link rel="stylesheet" href="{{ style }}" type="text/css">
		{% endfor %}

		<link rel="stylesheet" href="../../assets/css/bootstrap.css" type="text/css">
		<link rel="stylesheet" href="../../assets/css/bootstrap-responsive.css" type="text/css">
	</head>

	<body>
		<div id='container'>
			<div class="navbar navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container-fluid">
						<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"></a>
						<a class="brand" href="#">ToDo.com</a>
					</div>
				</div>
			</div>
			<br /><br /><br />
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span12">
						{% block content %}

						{% endblock content %}
					</div>
				</div>
				<hr>
				<footer>
					<p>&#169; ToDo.com, LLC 2012</p>
				</footer>
			</div>
		</div>

		<script type="text/javascript" src="../../assets/js/libs/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="../../assets/js/libs/jquery-ui-1.8.16.custom.min.js"></script>
		<script type="text/javascript" src="../../assets/js/libs/bootstrap/bootstrap.min.js"></script>
		<script type="text/javascript" src="../../assets/js/plugins.js"></script>
		<script type="text/javascript" src="../../assets/js/script.js"></script>
		<script>
			function onfinalload () {

			}
			$(document).ready(function () {
				domModal = $('#modal-from-dom');

				$('#btnPrimary').live('click', function(){
					alert('btnPrimary clicked!');
					domModal.modal('hide');
				});

				$('#btnSecondary').live('click', function(){
					alert('btnSecondary clicked!');
					domModal.modal('hide');
				});

				//Removes the close 'x'
				$('.close', $('#modal-from-dom')).remove();
			});
		</script>
	</body>
</html>